
/*
     FILE ARCHIVED ON 15:44:30 Jan 05, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:18:28 Jun 25, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 157.764
  exclusion.robots: 0.063
  exclusion.robots.policy: 0.057
  RedisCDXSource: 0.532
  esindex: 0.007
  LoadShardBlock: 140.679 (3)
  PetaboxLoader3.datanode: 154.493 (5)
  load_resource: 91.083 (2)
  PetaboxLoader3.resolve: 42.0
*/